@import './../../../assets/styles/colors.scss';

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.map-loader-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-loader {
    background: url('./../../../assets/imgs/youps_loader.svg');
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
}

.map-pill {
    background: #FFF;
    position: fixed;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: 12px;
    border-radius: 50px;
    padding: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    transition: bottom 0.5s;
    display: flex;
    align-items: center;

    .youps-pill-logo {
        background: url('./../../../assets/imgs/youps_small_logo.svg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 50px;
        height: 50px;
    }

    .youps-pill-content {
        margin-left: 12px;
    }

    .youps-pill-label {
        color: #4B290C;
        font-size: 1em;
    }

    .youps-pill-distance-time {
        color: grey;
        font-size: 0.7em;
    }
}

.map-user-pill {
    padding: 8px !important;
    top: 0;
    bottom: auto !important;
    display: flex;
    align-items: center;
    z-index: 10;

    .map-user-img {
        width: 50px;
        height: 50px;

        img {
            border-radius: 50%;
        }
    }

    .map-user-pill-content {
        margin-left: 12px;
        flex: 1;

        .map-user-display-name {
            font-size: 1em;
            color: $youps-main-brown;
        }
    
        .map-user-display-desc {
            font-size: 0.7em;
            color: dimgray;
        }
    }

    .map-user-pill-logout {
        display: flex;
        align-items: center;
        color: #FFF;
        padding: 8px;
        cursor: pointer;
        background: #c1834f;
        border-radius: 50%;
    }
}

.map-pill-show {
    bottom: 25px !important;
}

.map-places-pill {
    position: absolute;
    top: 32px;
    background: #753f17;
    left: 0;
    right: 0;
    margin: 12px;
    padding: 0px 12px 14px 12px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    z-index: 9;
    color: #FFF;
    display: flex;
    opacity: 0;
    transition: opacity 0.25s, padding-top 0.25s;

    .material-icons {
        font-size: 2em !important;
        color: #FFF;
    }

    .material-icons.close-btn {
        font-size: 1.3em !important;
        display: flex;
        align-items: center;
    }

    input[type=text] {
        color: #FFF !important;
        background: transparent;
        border: none;
        width: 100%;
        margin-right: 12px;
        text-overflow: ellipsis;
    }

    input[type=text]::placeholder {
        color: #FFF;
    }
}

.map-places-search-visible {
    padding-top: 44px !important;
    opacity: 1 !important;
}