<div class="app-page">
    <div class="landing-page-container">
        <div class="landing-page-top">
            <div class="landing-page-youps-logo-circle"></div>
            <div class="landing-page-youps-logo-text"></div>
            <div class="landing-page-youps-truck"></div>
            <div class="landing-page-youps-msg">
                The best way to track your packages in real-time.
            </div>
        </div>
        <button (click)="login()" class="common-btn base-btn">Sign In with Google</button>
    </div>
</div>